.post-form {
  background-color: var(--secondary);
  border-radius: 10px;
}

.meta-data {
  background: transparent;
  width: 100%;
  outline: none;
}

.meta-data-title {
  padding: 3px 5px;
  color: var(--neural-500);
  font-size: 41px;
  font-weight: bold;
}

.meta-data-title::placeholder {
  color: var(--neural-500);
  font-weight: bold;
  font-size: 41px;
}

.meta-data-content {
  padding: 1rem;
}

.post-btn {
  background-color: var(--call-to-action);
  color: var(--primary);
  font-size: 2rem;
  padding: 3px 22px;
  margin-top: 2rem;
  border-radius: 10px;
  transition: all 0.5s;
}

.post-btn:hover {
  --call-to-action-20: rgba(0, 139, 238, 0.5);

  background-color: var(--call-to-action-20);
}
