.bottom-navbar {
  display: flex;
  justify-content: center;
}

.main-navbar {
  --neural-900: rgba(46, 46, 61, 0.15);

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--neural-900);
  height: 4rem;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  backdrop-filter: blur(3px);
}

.nav-link {
  transition: all 500ms;
}

.nav-link:hover {
  stroke: var(--primary-300);
}
