.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.form {
  border: var(--blue-color) solid 2px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
}

.input {
  background-color: var(--green-color);
  color: white;
  padding: 5px 10px 5px 10px;
  outline: none;
  border: white solid 2px;
  border-radius: 5px;
  transition: all 0.5s;
}

.input:hover {
  background-color: var(--light-green-color);
}

.input:focus {
  border: var(--dark-green-color) solid 2px;
  background-color: var(--light-green-color);
}

.auth-btn {
  background-color: var(--green-color);
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.5s;
  transform: scale(1.09);
}

.auth-btn:hover {
  background-color: var(--dark-green-color);
}

.separator {
  background-image: linear-gradient(
    to right,
    var(--blue-color),
    var(--green-color)
  );
}

.link-text {
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
  transition: all 1s;
}

.link-text:hover {
  --link-color: var(--gray-color);

  color: var(--link-color);
  border-color: var(--link-color);
}
