.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.form {
  border: var(--blue-500) solid 2px;
  border-radius: var(--radius-md);
  padding: 20px;
  margin-top: 10px;
}

.auth-btn {
  border: var(--primary-400) solid 3px;
  color: var(--primary-400);
  padding: 5px 10px 5px 10px;
  border-radius: var(--radius-md);
  margin-top: 20px;
  transition: all 0.5s;
  transform: scale(1.09);
}

.auth-btn:hover {
  background-color: var(--primary-400);
  color: var(--primary-600);
}

.separator {
  background-image: linear-gradient(
    to right,
    var(--blue-500),
    var(--green-500)
  );
}

.link-text {
  color: var(--blue-500);
  border-bottom: 1px solid var(--blue-500);
  transition: all 1s;
}

.link-text:hover {
  color: var(--neural-400);
  border-color: var(--neural-400);
}
