@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFFFFF;
  --secondary: #F5F5F5;
  --neutral: #595959;
  --call-to-action: #0089EE;
  --header: #24FF69;
  --warning: #ff5050;

  --lg-bold: 700;
  --md-bold: 400;
  --light-bold: 100;
  --xl-text: 40px;
  --lg-text: 35px;
  --md-text: 20px;
  --sx-text: 15px;

  /* Sidebar Variables */
  --sidebar-width: 16rem;
}

/* The default background color for the app */
body {
  background-color: var(--primary);
}