@tailwind base;
@tailwind components;
@tailwind utilities;

/* font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@100;400&display=swap");

:root {
  /* primary color */
  --primary-300: #93aaff;
  --primary-400: #5e7ef2;
  --primary-600: #1f43c4;

  /* Neural colors */
  --neural-100: #fbfbfc;
  --neural-200: #d6d6d9;
  --neural-300: #a8a8ad;
  --neural-400: #868690;
  --neural-500: #585864;
  --neural-600: #575763;
  --neural-700: #454553;
  --neural-800: #414151;
  --neural-900: #2f2f3e;

  /* green color */
  --green-300: #9cff94;
  --green-400: #6af25e;
  --green-500: #44eb36;
  --green-700: #19a30d;
  --green-900: #064d00;

  /* blue color */
  --blue-500: #37a0eb;
  --blue-700: #0d64a3;
  --blue-900: #002c4d;

  /* red color */
  --red-500: #eb3636;
}

/* common styles */

.text-red-color {
  color: var(--red-500);
}

.font-anonymous {
  font-family: "Anonymous Pro", monospace;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.input {
  background-color: var(--green-700);
  color: white;
  padding: 5px 10px 5px 10px;
  outline: none;
  border: white solid 2px;
  border-radius: 5px;
  transition: all 0.5s;
}

.input:hover {
  background-color: var(--green-900);
}

.input:focus {
  background-color: var(--green-900);
}

.text-gray-dark {
  color: var(--dark-gray-color);
}

.info-badge {
  border: var(--green-400) solid 3px;
  color: var(--green-400);
  padding: 5px 10px;
  border-radius: 2rem;
}
