.post-wrapper:first-child {
  border-top: var(--gray-color) solid 1px;
}

.post-wrapper {
  border-bottom: var(--gray-color) solid 1px;
  padding: 10px;
  margin-top: 10px;
}

.post-title {
  font-family: "Anonymous Pro", monospace;
}

.post-author {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
