.post-wrapper {
  border: var(--neural-400) solid 1px;
  padding: 10px;
  margin-top: 10px;
}

.post-title {
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(26px * 1.5);
  letter-spacing: -0.01rem;
}

.post-author {
  color: var(--neural-400);
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.post-type-changer {
  color: var(--neural-300);
  cursor: pointer;
  transition: all 0.5s;
}

.post-type-changer:hover {
  color: var(--primary-500);
  font-size: large;
  font-weight: bold;
}

.text-neural-900 {
  color: var(--neural-900);
}
