.navbar {
  background-color: var(--blue-500);
  padding: 15px 10px;
}

.logo-wrapper {
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

form.search-bar {
  color: var(--gray-900);
  background-color: var(--neural-100);
  display: flex;
  padding: 5px;
  border: var(--gray-500) solid 1px;
  border-radius: 10px;
  outline: none;
}

.search-field {
  background: transparent;
  padding: 7px 8px;
  outline: none;
  font-size: 14px;
  border: 1px solid transparent;
  width: 90%;
}

.search-btn {
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
}

.search-btn:hover {
  opacity: 1;
}

.new-post-btn {
  background-color: var(--blue-900);
  color: var(--blue-500);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  transition: all 1s;
}

.new-post-btn:hover {
  background-color: var(--blue-700);
  color: var(--neural-100);
}
