.post-wrapper {
  border-radius: 1rem;
  padding: 2rem 1rem;
  margin: 2rem 0;
  transition: all 0.5s;
}

.post-wrapper:hover {
  background-color: white;
}

.post-container {
  border-top: 1px solid var(--primary-300);
}

.post-title {
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.post-author {
  color: var(--primary-300);
  font-family: "Inter", sans-serif;
  font-weight: 100;
  margin-bottom: 2rem;
}

.post-content {
  color: gray;
}

.post-type-changer {
  color: var(--neural-300);
  border-radius: 2rem;
  padding: 10px 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: medium;
}

.post-type-changer:hover {
  background-color: white;
}

.post-type-changer-selected {
  background-color: white;
  font-weight: 700;
}
