.post-wrapper {
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 2rem 1rem;
  margin: 2rem 0;
  transition: all 0.5s;
}

.post-wrapper:hover {
  background-color: var(--primary);
}

.post-title {
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.post-author {
  color: var(--call-to-action);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  margin-bottom: 2rem;
  width: fit-content;
  transition: all 0.5s;
}

.post-author:hover {
  font-weight: 500;
}

.post-content {
  color: gray;
}
