.setting-title {
  color: var(--header);
  font-size: 1.8rem;
}

.input-field {
  outline: none;
  border: var(--primary) 3px solid;
  border-radius: 2rem;
  padding: 6px 15px;
  transition: all 100ms;
  width: 100%;
}

.input-field:focus {
  border: rgba(89, 89, 89, 0.842) 3px solid;
}

.description-field {
  outline: none;
  width: 90%;
}