.navbar {
  background-color: var(--secondary);
  padding: 6px 2rem;
  display: flex;
  justify-content: space-around;
}

form.search-bar {
  background-color: var(--neural-white);
  display: flex;
  padding: 5px;
  border: var(--gray-500) solid 1px;
  border-radius: 2rem;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.search-field {
  background: transparent;
  padding: 7px 8px;
  outline: none;
  font-size: 14px;
  border: 1px solid transparent;
  width: 90%;
}

.search-btn {
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
}

.search-btn:hover {
  opacity: 1;
}

.dropdown-menu {
  display: none;
  background-color: #fff;
  margin: 1rem 0;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  text-align: center;
  width: 15rem;
  border-radius: 10px;
  box-shadow: 0px 4px 5px var(--neutral);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu > a > li {
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 10px;
  transition: all 1s;
}

.dropdown-menu > a > li:hover {
  background-color: var(--neural-100);
}

.user-detail-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

@media screen and (max-width: 412px) {
  .dropdown-menu {
    right: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .navbar {
    display: flex;
    justify-content: space-around;
  }
}
