.profile-info {
  display: flex;
  border-bottom: 1px solid var(--neutral);
  padding-bottom: 1rem;
}

.user-post {
  border: var(--primary-300) solid 2px;
  padding: 1.25rem 1.2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: all 1s;
}

.user-post:hover {
  background-color: white;
}

.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 1px solid var(--neural);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.follow-btn {
  color: var(--call-to-action);
}

.follower-count {
  color: var(--neural);
  font-size: 0.85rem;
  font-weight: 700;
}

.username-details {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}